.vs/
Generator/bin/
Generator/obj/
GeneratorLib/bin/
GeneratorLib/obj/
GeneratorUnitTests/bin/
GeneratorUnitTests/obj/
InstallerNuget/bin/
InstallerNuget/obj/
glTFLoader/bin/
glTFLoader/obj/
glTFLoaderUnitTests/bin/
glTFLoaderUnitTests/obj/
glTFLoader_Shared/bin/
glTFLoader_Shared/obj/
packages/
glTFLoader/Schema/
TestResults/
TestResult.xml

